In [1]:
import pandas as pd
import numpy as np
import os
from pathlib import Path

In [4]:
file_path = Path(r"C:\Users\xx\Desktop\Workspace\selfcurenetwork-own\RAF-DB\EmoLabel\combined_Tqinghua.txt")

In [9]:
df = pd.read_csv(file_path, sep=' ', header=None)
NAME_COLUMN = 0
LABEL_COLUMN = 1

In [28]:
dftrain = df[df[NAME_COLUMN].str.startswith("train")]
dfval = df[df[NAME_COLUMN].str.startswith("test")]
print(f"Train - {round(100 * len(dftrain) / len(df), 2)}%\nTest/Val - {round(100 * len(dfval) / len(df), 2)}%")

Train - 77.49%
Test/Val - 22.51%

In [31]:
dftrain[LABEL_COLUMN].value_counts() # Series

4    4873
7    2628
5    2084
1    1386
3     818
6     805
2     377
Name: 1, dtype: int64

In [22]:
dfval[LABEL_COLUMN].value_counts()

4    1286
7     784
5     580
1     425
6     262
3     261
2     170
Name: 1, dtype: int64

In [32]:
dftrain

                               0  1
0                train_00001.jpg  5
1                train_00002.jpg  5
2                train_00003.jpg  4
3                train_00004.jpg  4
4                train_00005.jpg  5
...                          ... ..
16729      train_Y8M-27_fear.jpg  2
16731     train_Y8M-27_happy.jpg  4
16733   train_Y8M-27_neutral.jpg  7
16735       train_Y8M-27_sad.jpg  5
16737  train_Y8M-27_surprise.jpg  1

[12971 rows x 2 columns]